.App {
  text-align: center;
}


.center{
  text-align: center;
}

.choiceButton{
  margin: 5px;
  background-color:#0C4C64 ;
  border: 2px solid #0C4C64;
  border-radius: 12px;
  padding: 10px;
  width: 20%;
  color: white;
}
.choiceButton:hover{
  background-color:white ;
  color: #0C4C64;
}

.chartContainer{
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;

}

.hide{
  display: none;
}
.show{
  display: block;
}
